*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
 
}

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.7)),url(images/testebackground.png);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
  
  }

.logo {
  width: 50px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.logo:hover{
  width: 100px;
  transition: .5s ease-in-out;
}

.navbar{
  height: 12%;
  display: flex;
  align-items: center;
}


nav{
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 13px;

}


.row{
  display: flex;
  height: 88%;
  align-items: center;
}

.col{
flex-basis: 50%;

}

h1{
  color: #fff;
  font-size: 100px;
  text-shadow: 0 0 10px #fff;

}

p{
  color: #fff;
  font-size: 11px;
  line-height: 15px;
  text-shadow: 0 0 5px #fff;
}

button{
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
}


.card {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
}

.card1{
    background-image: url(images/zakawe.png) ;
    transition: filter .5s ease-in-out ; 
    -webkit-filter: grayscale(100%) ; 
    filter: grayscale(100%) ; 
}

.card1:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%);
}


.card2 {
    background-image: url(images/honda.png);
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
}

.card2:hover{
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
 
}

.card3{
    background-image: url(images/yamaha.png);
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
}

.card3:hover{
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 

}

.card4{
    background-image: url(images/suzuki.png);
    transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
}

.card4:hover{
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
  
}

.card5{
  background-image: url(images/ktm.png);
  transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
}

.card5:hover{
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
}

.card6{
  background-image: url(images/husqvarna.png);
  transition: filter .5s ease-in-out;
    -webkit-filter: grayscale(100%); 
    filter: grayscale(100%); 
}

.card6:hover{
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); 
  filter: grayscale(0%); 
  
  
}

h5{
  color: #fff;
  text-shadow: 0 0 5px #f999;
}

card p{
  text-shadow: 0 0 5px #f000;
  font-size: 8px;
}
