
body {font-family: "Lato", sans-serif;}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
  transition: 0.5s;
}

.tablink:hover {
  background-color: #777;
  
}


.tabcontent {
  color: white;
  display: none;
  padding: 50px;
  text-align: center;
}

.button1:hover {
  background-color: green
  
}
.button2:hover {
  background-color: blue
}
.button3:hover {
  background-color: red
}
.button4:hover {
  background-color: orange
}

#Kawasaki {background-color:green;}
#Yamaha {background-color:blue;}
#Honda {background-color:red;}
#Suzuki {background-color:orange;}