*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
   
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    padding-left: 0%;
    padding-right: 0%;
    box-sizing: border-box;
    
    
    }
  
  .logo {
    margin-left: 60px;
    width: 50px;
    cursor: pointer;
    transition: .5s ease-in-out;
    
  }
  
  .logo:hover{
    width: 100px;
    transition: .5s ease-in-out;
  }
  
  .navbar{
    height: 12%;
    display: flex;
    align-items: center;
    background-color: red;

  }
  
  
  nav{
    flex: 1;
    text-align: right;
  }
  
  nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    text-shadow: 2px 2px black;
  }

.container2 {
  position: relative;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.container3 {
  position: relative;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.container4 {
  position: relative;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.container4:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    
}

.container3:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.container2:hover {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}
.text-block1 {
  position: absolute;
  bottom: 20px;
  right: 100px;
  background-color: transparent;
  color: white;
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 18px;
  margin-right: 900px;
  margin-bottom: 700px;
  width:400px;
  text-shadow: 2px 2px black;
}

.text-block2 {
  position: absolute;
  bottom: 20px;
  right: 60px;
  background-color: transparent;
  color: white;
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
  font-size: 18px;
  margin-right: 1150px;
  margin-bottom: 1px;
  width:200px;
  text-shadow: 2px 2px black;
  
}

.text-block3 {
  position: absolute;
  bottom: 100px;
  right: 200px;
  background-color: transparent;
  color: white;
  text-align: left;
  padding-left: 25%;
  padding-right:25%;
  font-size: 18px;
  margin-right: -600px;
  margin-bottom: 35%;
  width:200px;
  text-shadow: 2px 2px black;
}

